.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/gradle
/app/build
gradlew.bat
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
*.iml
*.ipr
*.iws
.idea/**
import-summary.txt
*.pydevproject
.project
.metadata
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath